.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1rem 1.375rem;

  .header__title {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.125rem;
    line-height: 28px;
    text-decoration: none;
  }

  .header__actions {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;

    .header__action {
      display: flex;
      align-items: center;
      text-decoration: none;
      border: none;
      color: rgba(0, 0, 0, 0.85);
      padding: 0.625rem 1.125rem !important;
      vertical-align: middle;

      &:nth-child(2) {
        border-radius: 0.3125rem;
        border: 1px solid #52c41a;

        > span {
          color: #52c41a;
        }
      }
    }
  }
}
